<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <input type="button" (click)="getServiceData()"/>
</div>
<div>
  <ul>
    <li *ngFor="let sdo of sdOjbects">
      <span>Diversity Score:</span>{{ sdo.diversity_score }} -- <span>School Disctrict:</span>{{ sdo.school}} -- <span>Ethnicity:</span>{{sdo.ethnicity}} --<span>System:</span>{{ sdo.system}}<span>Month:</span>{{ sdo.month }}
    </li>
  </ul>
<span>{{ sdObjects | json }}</span>
</div>
